.language-color {
  width: 10px;
  height: 10px;
  background-color: blue;
  margin-right: 0.15rem;
  border-radius: 100%;
}

.repo-lang {
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.75rem;
}
