.aboutme {
  color: #767676;
  margin: 2rem;
}

.MuiTypography-body1 {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.85 !important;
}

@media only screen and (max-width: 800px) {
  .xs-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .about {
    margin: 0 20px 0 20px !important;
  }
  .aboutme {
    text-align: center !important;
  }
}
