/* parallax begins*/

.parallax1 {
    background-image: url("../img/projects-main.jpg");
    min-height: 250px;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 span {
    font-weight: 700;
    font-size: 3.5em;
    color: #ffffff;
}

.parallax2 {
    background-image: url("../img/work-main.jpg");
    min-height: 250px;
    text-align: center;

    padding-top: 4rem;
    padding-bottom: 4rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 span {
    font-weight: 700;
    font-size: 3.5em;
    color: #ffffff;
}

.parallax3 {
    background-image: url("../img/resume-main.jpg");
    min-height: 300px;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 span {
    display: block;
    font-weight: 700;
    font-size: 3.5em;
    color: #ffffff;
}

.parallax3 a {
    color: inherit;
}

.parallax3 i {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    border: 2px solid white;
    border-radius: 40px;
}

.parallax3 i:hover {
    background-color: #D9D6D4;
    color: #33312F;

}
