html,body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  color: white;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0);
}

.first{
  padding-top: 140px;
  height: 8vh;
  min-height: 260px;
  background-size: cover;
  background-image: url('../img/DynamicCover/2.jpg');
  background-position: center;
}

li{
  margin-right: 1px;
}

.avatar{
  position: relative;
  margin: auto;
  display: block;
  bottom: 63px;
}

.rounded-circle{
  border: 2px solid white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

h4{
  padding-top: 15px;
}

.key{
  color: rgba(0, 0, 0, 0.5);
}

h2{
  margin: 30px;
}

.content{
  position: relative;
  top: -60px;
}

.progress{
  margin: 10px;
}

.skillbar{
  margin: 10px;
  font-size: 25px;
}

.pull-left{
  float: left;
  padding-left: 3px;
}

.pull-right{
  float: right;
  padding-right: 3px;
}

hr{
  position: relative;
  top:-20px;
  border: 0;
  height: 1px;
  width: 40%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black , rgba(0, 0, 0, 0));
}

.footer{
  background-color: rgba(0,0,0,0);
  color: black;
  text-align: center;
}
