html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}


/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav>.sidebar-brand a {
  color: #fff;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url('../img/intro-bg2.jpg');
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url('../img/intro-bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  
  }

  .masthead h1 {
    font-size: 5.5rem;
  }
}

.tagline a{
  color: #ffffff;
  margin-top: 45px;

}
.tagline a:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}
.link {
  margin-right: 1px;
}

.fa {
  color: #cdcad5;
}

.fa:hover {
  color: white;
  transform: scale(1.2);
  transition: transform 0.2s;
}


.rounded-circle {
  border: 2px solid white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.5);
}
h2{
  font-weight: 700;
}
.highlight {
  color: #f3f3e5;
}

h6 {
  color: rgba(0, 0, 0, 0.4);
}

.key {
  color: rgba(0, 0, 0, 0.3);
}

.social {
  margin: -7px;
}

.mb-5{
  margin-bottom: 3rem !important;
}

.projects{
  padding-top: 5rem;
  /* padding-bottom: 7rem; */
}
.projects h2{
  text-align: center;
  font-size: 3rem;
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

#contact hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

#contact hr.light {
  border-color: #fff;
}

.last-hr{
  margin-top: 50px;
  position: relative;
  top: 0;
  border: 0;
  height: 1px;
  width: 40%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.main-timeline {
  padding-top: 50px;
  overflow: hidden;
  position: relative;
}

.main-timeline:before {
  content: "";
  width: 7px;
  height: 100%;
  background: #084772;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  width: 50%;
  float: left;
  padding: 20px 60px;
  border-top: 7px solid #084772;
  border-right: 7px solid #084772;
  border-radius: 0 30px 0 0;
  position: relative;
  right: -3.5px;
}

.main-timeline .icon {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #9A96A2;
  border: 1px solid #fff;
  text-align: center;
  font-size: 25px;
  color: #fff;
  box-shadow: 0 0 0 2px #9A96A2;
  position: absolute;
  top: -30px;
  left: 0;
}

.main-timeline .timeline-content {
  display: block;
  padding: 30px 10px 10px;
  border-radius: 20px;
  background: #9A96A2;
  color: #fff;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
  color: #fff;
}

.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after {
  content: "";
  display: block;
  width: 10px;
  height: 50px;
  border-radius: 10px;
  background: #9A96A2;
  border: 1px solid #fff;
  position: absolute;
  top: -35px;
  left: 50px;
}

.main-timeline .timeline-content:after {
  left: auto;
  right: 50px;
}

.main-timeline .title {
  font-size: 24px;
  margin: 0;
}

.main-timeline .description {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}

.main-timeline .timeline:nth-child(2n) {
  border-right: none;
  border-left: 7px solid #084772;
  border-radius: 30px 0 0 0;
  right: auto;
  left: -3.5px;
}

.main-timeline .timeline:nth-child(2n) .icon {
  left: auto;
  right: 0;
}

.main-timeline .timeline:nth-child(2) {
  margin-top: 130px;
}

.main-timeline .timeline:nth-child(odd) {
  margin: -130px 0 30px 0;
}

.main-timeline .timeline:nth-child(even) {
  margin-bottom: 80px;
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even) {
  margin: 0 0 30px 0;
}

.main-timeline .timeline:nth-child(2n) .timeline-content,
.main-timeline .timeline:nth-child(2n) .timeline-content:before,
.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .icon {
  background: #B9ABB0;
}

.main-timeline .timeline:nth-child(2n) .icon {
  box-shadow: 0 0 0 2px #B9ABB0;
}

.main-timeline .timeline:nth-child(3n) .timeline-content,
.main-timeline .timeline:nth-child(3n) .timeline-content:before,
.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .icon {
  background: #BCA094;
}

.main-timeline .timeline:nth-child(3n) .icon {
  box-shadow: 0 0 0 2px #BCA094;
}

.main-timeline .timeline:nth-child(4n) .timeline-content,
.main-timeline .timeline:nth-child(4n) .timeline-content:before,
.main-timeline .timeline:nth-child(4n) .timeline-content:after,
.main-timeline .timeline:nth-child(4n) .icon {
  background: #B47E70;
}

.main-timeline .timeline:nth-child(4n) .icon {
  box-shadow: 0 0 0 2px #B47E70;
}

.main-timeline .timeline:nth-child(5n) .timeline-content,
.main-timeline .timeline:nth-child(5n) .timeline-content:before,
.main-timeline .timeline:nth-child(5n) .timeline-content:after,
.main-timeline .timeline:nth-child(5n) .icon {
  background: #B0ACB5;
}

.main-timeline .timeline:nth-child(5n) .icon {
  box-shadow: 0 0 0 2px #B0ACB5;
}

.main-timeline .timeline:nth-child(6n) .timeline-content,
.main-timeline .timeline:nth-child(6n) .timeline-content:before,
.main-timeline .timeline:nth-child(6n) .timeline-content:after,
.main-timeline .timeline:nth-child(6n) .icon {
  background: #9A96A2;
}

.main-timeline .timeline:nth-child(6n) .icon {
  box-shadow: 0 0 0 2px #9A96A2;
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    left: 0;
    right: auto;
  }

  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd) {
    width: 100%;
    float: none;
    padding: 20px 30px;
    margin: 0 0 30px 0;
    border-right: none;
    border-left: 7px solid #084772;
    border-radius: 30px 0 0 0;
    right: auto;
    left: 0;
  }

  .main-timeline .icon {
    left: auto;
    right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .main-timeline .title {
    font-size: 18px;
  }
}