.main-timeline2 {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    padding: 20px 0;
}

.main-timeline2 .timeline2 {
    width: 80%;
    margin: 0 auto 70px;
    position: relative;
}

.main-timeline2 .timeline2:after {
    content: '';
    background: linear-gradient(-65deg, #4285F4 40%, #fff 41%, #fff 60%, #4285F4 61%);
    height: 173px;
    width: 173px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 88px;
    top: 50%;
    z-index: 0;
}

.main-timeline2 .timeline2-content {
    color: #fff;
    background-color: #4285F4;
    padding: 15px 15px 15px 280px;
    border-radius: 40px;
    display: block;
}

.main-timeline2 .timeline2-content:hover {
    color: #fff;
    text-decoration: none;
}

.main-timeline2 .timeline2-icon {
    color: #000;
    background-color: #4285F4;
    font-size: 60px;
    text-align: center;
    line-height: 130px;
    height: 150px;
    width: 150px;
    border: 10px solid #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 100px;
    top: 50%;
    z-index: 1;
}

.main-timeline2 .title {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.main-timeline2 .description {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}

.main-timeline2 .timeline2:nth-child(even):after {
    left: auto;
    right: 88px;
}

.main-timeline2 .timeline2:nth-child(even) .timeline2-icon {
    left: auto;
    right: 100px;
}

.main-timeline2 .timeline2:nth-child(even) .timeline2-content {
    padding: 15px 280px 15px 30px;
}

.main-timeline2 .timeline2:nth-child(3n+2):after {
    background: linear-gradient(-65deg, #E9403F 40%, #fff 41%, #fff 60%, #E9403F 61%);
}

.main-timeline2 .timeline2:nth-child(3n+2) .timeline2-content {
    background-color: #E9403F;
}

.main-timeline2 .timeline2:nth-child(3n+2) .timeline2-icon {
    background-color: #E9403F;
}

.main-timeline2 .timeline2:nth-child(3n+3):after {
    background: linear-gradient(-65deg, #A2175B 40%, #fff 41%, #fff 60%, #A2175B 61%);
}

.main-timeline2 .timeline2:nth-child(3n+3) .timeline2-content {
    background-color: #A2175B;
}

.main-timeline2 .timeline2:nth-child(3n+3) .timeline2-icon {
    background-color: #E71873;
}

@media only screen and (max-width:1200px) {
    .main-timeline2 .timeline2 {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .main-timeline2 .timeline2 {
        padding-top: 109px;
        margin: 0 0 30px;
    }

    .main-timeline2 .timeline2:after,
    .main-timeline2 .timeline2:nth-child(even):after {
        height: 110px;
        width: 110px;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(0);
    }

    .main-timeline2 .timeline2-content,
    .main-timeline2 .timeline2:nth-child(even) .timeline2-content {
        text-align: center;
        padding: 15px;
    }

    .main-timeline2 .timeline2-icon,
    .main-timeline2 .timeline2:nth-child(even) .timeline2-icon {
        font-size: 35px;
        height: 90px;
        width: 90px;
        line-height: 70px;
        right: auto;
        left: 50%;
        top: 10px;
        transform: translateX(-50%) translateY(0);
    }

    .main-timeline2 .title {
        font-size: 20px;
    }
}