.aboutme {
  text-align: justify;
  color: #767676;
  margin-top: 3rem;
}

.about {
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .xs-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .about {
    margin: 0 20px 0 20px !important;
  }
.aboutme {
  text-align: center !important;
}

}
