.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000 !important;
}

.vertical-middle-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.name {
  color: #eb655b;
}

.subname {
  color: #767676;
}

@media (min-width: 990px) {
  .masthead {
    height: 100vh;
    padding-top: 11rem;
  }
  .name {
    font-size: 2.25rem !important;
    text-align: center !important;
  }

  .subname {
    font-size: 1.25rem !important;
    text-align: center !important;
  }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  .masthead {
    height: 100vh;
    padding-top: 9rem;
  }
  .name {
    font-size: 1.5rem !important;
    text-align: center !important;
  }

  .subname {
    font-size: 1rem !important;
    text-align: center !important;
  }
}
