.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url("../Static/main.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 601px) {
    .masthead {
        height: 100vh;
        padding-top: 11rem;
        
    }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .masthead {
        height: 100vh;
        padding-top: 9rem;
        
    }
}

.name {
  color: #eb655b;
}
.subname {
  color: #767676;
}

