.parallax1 {
  background-image: url(../Static/projects-main.jpg);
  /* filter: grayscale(100%); */
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 span {
  font-weight: 700;
  font-size: 3.5em;
  color: #fff;
}
.parallax2 {
  background-image: url(../Static/work-main.jpg);
  /* filter: grayscale(100%); */
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 span {
  font-weight: 700;
  font-size: 3.5em;
  color: #fff;
}
.parallax3 {
  background-image: url(../Static/resume-main.jpg);
  /* filter: grayscale(100%); */
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 span {
  display: block;
  font-weight: 700;
  font-size: 3.5em;
  color: #fff;
}
.parallax3 a {
  color: inherit;
}
.parallax3 i {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  border: 2px solid #fff;
  border-radius: 40px;
}
.parallax3 i:hover {
  background-color: #d9d6d4;
  color: #33312f;
}
