/*Profile Card 5*/

.card-deck{
    margin-left: 15px !important;
    margin-right: 15px !important;

}

@media (min-width: 876px){
.card-deck .card {
    margin-right: 40px !important;
    margin-left: 40px !important;
}}

.card-deck .card {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .card-img-block {
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.card .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    height: 200px;
}

.card h5 {
    font-weight: 400;
}

.card p {
    font-size: 14px;
    font-weight: 300;
    color: grey;
}

.card-body {
    display: inline-block;
    text-align: center;
    /* color: #ffffff; */
}


/* .bg--red {
  background-color: #e74c3c;
}
.tx--red {
  color: #e74c3c;
}

.bg--white {
  background-color: #fff;
}
.tx--white {
  color: #fff;
} */

/* button {
  border: none;
  padding: 20px;
  margin: 10px;
  font-size: 14px;
  outline: 0;
  box-shadow: 0px 2px 4px 0px #000;
  border-radius: 4px;
}
button:active {
  box-shadow: 0px 2px 6px 0px #000;
} */


/* [ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: #fff;
  animation: ripple 1000ms;
}
@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
} */
