@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("../../../../assets/Fonts/Agustina.woff") format("woff");
  font-display: swap;
}

.grey-color {
  color: #868e96;
}

.logo-name {
  font-family: "Agustina Regular";
  font-weight: 700;
  padding: 0 10px;
}
